/* styles.css */
.top-bar {
    background-color: #343a40;
    color: #fff;
    padding: 10px 0;
    text-align: left;
}

.top-bar-content {
    font-family: 'Playfair Display', serif;
}

.premium-name {
    font-size: 2em;
    font-weight: bold;
    text-decoration: none; /* Added to remove underline from the link */
}

.custom-navbar {
    background-color: #ffffff;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
    max-width: fit-content;
    margin: 20px auto;
}

.navbar-content {
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
